<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/ie10-viewport-bug-workaround.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/jumbotron-narrow.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/detail.css"/>
    <script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
    <title>Cart</title>

</head>
<body>
    <h2>购物车添加成功</h2>

    <a href="http://localhost:8084/cartList">去购物车</a>

</body>
</html>
