<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/ie10-viewport-bug-workaround.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/jumbotron-narrow.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/detail.css"/>
    <script type="text/javascript" src="/bootstrap/js/jquery.min.js"></script>
    <title>error</title>
</head>
<body style="text-align:center;">
        <h1><span style="color: red">亲：不能重复提交订单哦！</span></h1>
</body>
</html>