<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>
        硅谷商城_用户登录
    </title>
    <link rel="shortcut icon" type="image/icon" href="images/jd.ico">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    </script>
    </head>
    <body>
    <div class="up">
        <img src="images/logo.jpg" height="45px;" class="hy_img"/>
        <div class="hy">
        欢迎登录
        </div>
        </div>
        <div class="middle">
        <div class="login">
        <div class="l1 ">
        <div class="l1_font_01 ">硅谷会员</div>
        <a class="l1_font_02 " href="<%=application.getContextPath() %>/to_regist.action">用户注册</a>
        </div>
        <div class="blank_01"></div>
        <div class="ts">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${err}
    </div>
    <div class="blank_01"></div>
        <form action="login.action" id="login_form" method="post">
        <div class="input1">
        <input type="text" class="input1_01" name="user_name"/>
        </div>
        <div class="blank_01"></div>
        <div class="blank_01"></div>
        <div class="input2">
        <input type="text" class="input1_01" name="password"/>
        </div>
        </form>
        <div class="blank_01"></div>
        <div class="blank_01"></div>
        <div class="box_01">
        <input type="checkbox" class="box_01_box"/>
        <div class="box_01_both">
        <div class="box_01_both_1">自动登陆</div>
        <div class="box_01_both_2">忘记密码？</div>
    </div>
    </div>
    <div class="blank_01"></div>
        <a href="#" class="aline">
        <div class="red_button" onclick="to_submit()">
        登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
    </div>
    </a>
            <a href="https://api.weibo.com/oauth2/authorize?client_id=3702255538&response_type=code&redirect_uri=http://passport.gmall.com:8085/vlogin"> 新浪微博登录 </a>
    <div class="blank_01"></div>
        <div class="blank_01"></div>
        <div class="box_down">
        <div class="box_down_1">使用合作网站账号登录京东：</div>
    <div class="box_down_1">京东钱包&nbsp;&nbsp;|&nbsp;&nbsp;QQ
    &nbsp;&nbsp;|&nbsp;&nbsp;微信
    </div>
    </div>
    </div>
    </div>

    <div class="down">
        <br />
        Copyright©2004-2015  xu.jb.com 版权所有
    </div>
    </body>

    </html>