<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsSkuInfoMapper">
    <!--时多重集合将resultType 改为 resultMap-->
     <select id="selectSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap">
         select si.*,ssav.*,si.id as si_id,ssav.id as ssav_id
         from
              pms_sku_info si, pms_sku_sale_attr_value ssav
         where si.product_id = #{productId}
         and si.id = ssav.sku_id
     </select>

    <resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.atguigu.gmall.bean.PmsSkuInfo" autoMapping="true">
        <result column="si_id" property="id"></result>
        <collection property="pmsSkuSaleAttrValue" ofType="com.atguigu.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
            <result column="ssav_id" property="id"></result>
        </collection>
    </resultMap>

</mapper>
